1.Extract features
a.features and target should not have any null values
b.feature should be numeric
c.feature should be of the type array/dataframe
d.feature should be having some rows and columns
2.split the dataset into training and testing datasets
e.fetures should be on the same scale
3.train the model on the trainig set
4.test the model on the testing test

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:/csv file/Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
df.shape

(150, 6)

In [6]:
y=df["Species"]

In [7]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [8]:
x=df.drop("Species",axis=1)

In [9]:
x.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [10]:
x=x.drop("Id",axis=1)

In [11]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [12]:
x.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [13]:
y.isna().sum()

0

In [14]:
x.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

In [15]:
type(x)

pandas.core.frame.DataFrame

In [16]:
x.shape

(150, 4)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
Scaler=MinMaxScaler()

In [21]:
x_train=Scaler.fit_transform(x_train)

In [22]:
x_test=Scaler.transform(x_test)

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
Knn=KNeighborsClassifier(n_neighbors=5)

In [25]:
Knn.fit(x_train,y_train)

KNeighborsClassifier()

In [26]:
Knn.score(x_test,y_test)

0.9333333333333333

predict data

In [27]:
data=pd.read_csv("E:/csv file/irisonlyfeatures.csv")

In [29]:
data

     0    1    2     3
0  5.1  3.1  1.4  0.19
1  4.6  3.4  1.3  2.10

In [30]:
data.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [31]:
data.dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [32]:
data_Scaled=Scaler.transform(data)

In [34]:
Knn.predict(data)

array(['Iris-virginica', 'Iris-virginica'], dtype=object)

In [35]:
Knn.score(x_test,y_test)

0.9333333333333333

In [37]:
Knn.score(x_train,y_train)

0.9809523809523809